<!-- views/dashboard.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <link rel="stylesheet" type="text/css" href="/styles/style.css">
</head>
<body>
  <h1>Dashboard</h1>
  <p>Bem-vindo, <%= user.username %>!</p>
  <a href="/services/logout">Sair</a>
</body>
</html>
