<!-- views/serviceStatus.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Status do Serviço</title>
  <link rel="stylesheet" type="text/css" href="/styles/style.css">
</head>
<body>
  <h1>Status do Serviço</h1>
  <p><strong>Código de Serviço:</strong> <%= service.code %></p>
  <p><strong>Status:</strong> <%= service.status %></p>
  <p><strong>Comentários do Técnico:</strong> <%= service.technicianComments %></p>
</body>
</html>
